/* 
 Name: MaKayla Elliott
        Date: 11-2-2024
        Assignment: Exam 3 - Live Bait Website
        File Name: styles.css 
*/

html {
    background-color: antiquewhite;
}

a:link {
    color: slategray;
}

a:visited {
    color: black;
}

.logo {
    position: absolute;
    top: 30px;
    bottom: auto;
    right: 20px;
}

.header {
    max-width: 100%;
    border-radius: 10px;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #9fbfdf;
}

/* navigation styling */

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #9fbfdf;
}

li a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover:not(.active) {
    background-color: #b3cce6;
}

.active {
    background-color: #79a6d2;
}

/* index styling */

#offer {
    width: 48%;
    float: left;
    border: solid 2px;
}

#contact {
    width: 48%;
    float: right;
    border: solid 2px;
}

/* bait styling */

/* respooling styling */
.respool {
    overflow: hidden;
    border: 3px solid #336699;
    padding: 30px;
    border-radius: 5px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 50px;
    margin-left: 50px;
    background-color: #ecf2f9;
}

#spool {
    border-radius: 3%;
    float: right;
}

ul {
    list-style-type:none;
}

/* Connect Styling */
.facebook {
    border: solid 2px #9fbfdf;
    border-radius: 10%;
    background-color: #9fbfdf;
    padding:5px;
    box-shadow: 3px 3px#79a6d2;
}

.connect{
    border: 3px solid #336699;
    float: left;
    border-radius: 10px;
    padding: 30px;
    margin-top: 30px;
    margin-right: 20px;
    width: 45%;
}

.fishing {
    width: 45%;
    float: right;
    margin-top: 30px;
    border-radius: 5px;
}

.page {
    display:flex;
    align-items: center;
}
/* Media Queries*/

@media screen and (max-width:800px){
    .logo {
        display: none;
    }

    .fishing {
        display: none;
    }

}